    <% form_for(@student) do |form| %>  
      <p>  
        <%= form.label :name %><br/>  
        <%= form.text_field :name %>  
     </p>  
     
     <p>  
        <% advisor_array = Advisor.all.map { |city| [city.login, city.id] } %> 
        <%= form.label "Change advisor" %><br/>  
        <%= collection_select(:student, :advisor_id, Advisor.all, :id, :name)  %> 
     </p>
     
     <p>  
        <%= form.label :password %><br/>  
        <%= form.password_field :password %>  
     </p>    
     
     <p>  
        <%= form.label :password_confirmation %><br/>  
        <%= form.password_field :password_confirmation %>  
     </p>  

    
     
     <%= form.submit %>  
<br />
  <%= link_to "Remove account", student_path(@student), :method => :delete, :confirm => "Are you sure?" %>
   <% end %> 
