    <% form_for(@student) do |form| %>  
      <p>  
        <%= form.label :email %><br/>  
        <%= form.text_field :email %>  
      </p>  
      
      <p>  
        <%= form.label :name %><br/>  
        <%= form.text_field :name %>  
     </p>  
     
     <p>  
        <% advisor_array = Advisor.all.map { |city| [city.login, city.id] } %> 
        <%= form.label "Advisor" %><br/>  
        <%= collection_select(:student, :advisor_id, Advisor.all, :id, :login)  %> 
     </p>
     
     <p>  
        <%= form.label :password %><br/>  
        <%= form.password_field :password %>  
     </p>    
     
     <p>  
        <%= form.label :password_confirmation %><br/>  
        <%= form.password_field :password_confirmation %>  
     </p>  

    
     
     <%= form.submit %>  
   <% end %>  
